{% load static %}
<nav class="navbar border-bottom border-body" style="background-color: black; height: 58px;">
    <div class="container">
        <div>
            <a href="{% url 'index' %}" style="text-decoration: none;">
                <span style="font-size: 28px;font-weight: 900;color: white;">G</span><span style="font-size: 24px; color: white;">UIDELANCE</span>
            </a>
        </div>
        <div>
            {% if is_authenticated %}
            <div class="row ">
                <div class="col-md-6">
                    <p class="mt-2" style="font-size: 14px; color: white;">Welcome, {{username}}</p>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'logout' %}" style="text-decoration: none;">
                        <button type="button" class="btn btn-dark headerBtn">Log Out </button>
                    </a>
                </div>
            </div>
            
            {% else %}
            <a href="{% url 'user-registration' %}" style="text-decoration: none;">
            <button type="button" class="btn btn-dark headerBtn">Sign up</button>
            </a>
            <a href="{% url 'user-login' %}" style="text-decoration: none;">
            <button type="button" class="btn btn-dark headerBtn" style="margin-left: 2px;">Log in</button>
            </a>
            {% endif %}
        </div>
    </div>
</nav>