{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Teachers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Add the Bootstrap CSS link -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Add the Bootstrap JS and jQuery scripts -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Link to Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Link to an external CSS file or include your own styles here -->
    <!-- You can create a separate CSS file for styling this page -->
    <link rel="stylesheet" href="path/to/your/styles.css">
    
    <!-- Custom CSS for vertical carousel -->
    <style>
        .carousel.vertical {
            position: relative;
        }

        .carousel.vertical .carousel-inner {
            height: 100%;
            width: auto;
            transform: translate3d(0, 0, 0);
            display: flex;
            flex-direction: column;
        }

        .carousel.vertical .carousel-item {
            flex: 1;
            display: flex;
            align-items: center;
        }
        input[type="radio"] {
            cursor: default;}
        label {
         cursor: default;
        }
        .custom-label {
        display: inline-block;
        padding: 8px 12px;
        background-color: #8FBC8F; /* Light green color */
        color: #000; /* Black text color */
        font-weight: bold;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    </style>
</head>
<body>
    {% include 'nav.html' %}

    <div class="container">
        <h1>Available Teachers</h1>
        <p>Below is a list of our available teachers and their expertise:</p>
        <p>{{expiry}}</p>
        <p>{{token_expired}}</p>
        
        
        <input type="text" id="student-id" style="display: none;" value="{{user.student.id}}">

        <!-- Vertical Carousel -->
        <div id="verticalCarousel" class="carousel slide vertical" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Replace the following block with a loop that generates teacher listings -->
                {% for teacher in teachers%}
                <div class="carousel-item active">
                    <div class="teacher">
                        {% csrf_token %}
                        <h2 id="teacher-id-{{ teacher.id }}" style="display: none;">id: {{ teacher.id }}</h2>
                        <h2>Name: {{teacher.teacher_name}}</h2>
                        <h5>Expertise: </h5>
                        {% for expertise in teacher.expertise %}
                        <!--this is the input radio button-->
                        <input type="radio" id="expertise-{{ teacher.id }}" name="expertise" value="{{ expertise }}">
                        <label class="custom-label" for="expertise-{{ teacher.id }}">{{ expertise }}</label>
                        <!-- <p>Experience: X years</p> -->
                        {% endfor %}
                        <input type="date" id="date-{{ teacher.id }}" style="display: none;">
                        <input type="time" id="time-{{ teacher.id }}" style="display: none;">
                        <input type="text" placeholder="Enter Description" id="description-{{ teacher.id }}" style="display: none;">
                        <input type="text" placeholder="Enter Topic" id="topic-{{ teacher.id }}" style="display: none;">
                        <br>
                        <div class="error-message" data-teacher-id="{{ teacher.id }}" style="color: red;"></div>

                        <button onclick="redirectToZoomOAuth()", class="btn btn-outline-success create-session-button" data-teacher-id="{{ teacher.id }}">Create Session</button>
                        <button class="btn btn-outline-success create-meeting-button" data-teacher-id="{{ teacher.id }}" style="display: none;"> Create Meeting Request</button>
                        <button class="btn btn-primary submit-button" data-teacher-id="{{ teacher.id }}" style="display: none; margin-left: 10px;">Submit</button>
                        <button class="btn btn-secondary cancel-button" data-teacher-id="{{ teacher.id }}" style="display: none; margin-left: 20 px;">Cancel</button>                    
                        <!-- <form action="{% url 'zoom_oauth_redirect' %}" method="get" target="_blank">
                            <button class="btn btn-primary create-meeting-button" data-teacher-id="{{ teacher.id }}" style="display: none; margin-left: 10px;">Create Meeting</button>
                        </form> -->

                    </div>
                </div>
                <br>
                {% endfor %}
                <div class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel" aria-hidden="true">
                    <!-- <div class="modal-content"> -->
                        <!-- Modal content goes here -->
                    <!-- </div> -->
                </div>

                <!-- End of teacher listings -->
            </div>
        </div>
        <!-- End of Vertical Carousel -->
    </div>

    <!-- Footer -->
    <footer>
        <!-- Your footer content goes here -->
    </footer>

    <!-- Link to Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-bzjwzV5a2j3tppz9Zs5FmMXDrt5Tf5alS6/P4jg5f5u2rw5z3AH5z5W5S5u1Hz0p11" crossorigin="anonymous"></script>
    <script>var token_expired = {{ token_expired |yesno:"true,false" }} </script>
    <!-- Link to an external JavaScript file -->
    <script src="script.js"></script>
    <script src="{% static 'js/session.js' %}"></script>
    <script>
      function checkForAccessToken() {
        var accessToken = sessionStorage.getItem('zoom_access_token');
        if (accessToken) {
            // Access token found, stop polling and use it
            clearInterval(pollingInterval);
            console.log('Access Token in Parent Window:', accessToken);
        }
    }

    // Polling interval (every 1 second in this example)
    var pollingInterval = setInterval(checkForAccessToken, 1000);
    </script>
    <script>
        function redirectToZoomOAuth() {
            // Redirect to your Django OAuth view
            window.location.href = "{% url 'zoom_oauth_redirect' %}";
        }
    </script>
    
    

</body>
</html>
